<div>
    <div class="row w3-centered">
        <div class="col-sm-3 w3-card w3-card-4 w3-round-xlarge w3-green btn" style="padding:5px; margin: 6px;">
            
           <div class="row">
               <div class="col-xs-6 " style="margin-right:-44px">
                   <i class="fa fa-5x pe-7s-display1"></i>
               </div>
               <div class="col-xs-6" style="margin:-4px; margin-right: -40px">
                   <h3>Dashboard</h3>
               </div>
           </div>
        </div>
        <div class="col-sm-3 w3-card w3-card-4 w3-round-xlarge w3-blue btn" style="padding:5px; margin: 6px" ng-click="navig('student.reciept')">

            <div class="row">
                <div class="col-xs-6" style="margin-right:-44px">
                    <i class="fa fa-5x pe-7s-piggy"></i>
                </div>
                <div class="col-xs-6" style="margin:-4px">
                    <h3>Payments</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3 w3-card w3-card-4 w3-round-xlarge w3-red btn" style="padding:5px; margin: 6px">

            <div class="row">
                <div class="col-xs-6" style="margin-right:-44px">
                    <i class="fa fa-5x pe-7s-home"></i>
                </div>
                <div class="col-xs-6" style="margin:-4px">
                    <h3>Hostel <br/> Application</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3 w3-card w3-card-4 w3-round-xlarge w3-purple btn" style="padding:5px; margin: 6px" ng-click="navig('student.reciept')">

            <div class="row">
                <div class="col-xs-6" style="margin-right:-44px">
                    <i class="fa fa-5x pe-7s-note2"></i>
                </div>
                <div class="col-xs-6" style="margin:-4px">
                    <h3>Reciept</h3>
                </div>
            </div>
        </div>


    </div>
</div>